.Toolbar {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 2;
  align-items: center;
}

.Colored {
  background-color: var(--DarkColor);
  transition: 0.5s;
}

.Transparent {
  transition: 0.5s;
}
