.Portfolio-Project-List {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em 1em;
  top: 30vh;
  height: 70vh;
  width: 98vw;
  flex-wrap: wrap;
}

.Buttons-Container {
  position: absolute;
  top: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1250px) {
  .Portfolio-Project-List {
    grid-template-columns: 1fr 1fr;
    margin-top: 5vh;
  }
}

@media (max-width: 768px) {
  .Portfolio-Project-List {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 2vh;
  }

  .Project-Container {
    margin: 1em auto;
  }
}
