<div data-icon="landing" class="Logo" [class]="fadeOutClass">
  <div class="LogoFooter">Graphics</div>
</div>
<div class="ArtistName center" [class]="fadeInClass">
  <div class="name">
    <span class="firstName">Alexandros</span>
    <span class="lastName">Efthymiou</span>
  </div>
  <div class="description">
    <span class="redColor">Graphic Designer</span>
    <span class="separator">-</span>
    <span class="blueColor">
      <span>Concept Artist</span>
      <span data-icon="phone"></span>
    </span>
  </div>
</div>
